{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST CASE</title>
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
</head>
<body>
    <main>
        <header>

        </header>
        <section>
            {% block content %}
            {% endblock content %}
        </section>
    </main>
    <footer>
        <script src="{% static '/js/index.bundle.js' %}"></script>
    </footer>
</body>
</html>