{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="index-wrapper">
            <div class="block">
                <p class="block-title">Загрузка файла</p>
                <form id="mainForm" action="{% url 'app:processing' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="token" value="5806d76c-2728-4dc1-a3e7-e79f374b6b95">
                    <input type="file" name="file_obj">
                    <button type="submit">Отправить</button>
                </form>
                <div id="errors-container"></div>
                <div id="ok-container"></div>
            </div>
            <div class="block">
                <p class="block-title">История загрузок</p>
                <div id="table-container">
                    {% include 'table.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}