{% if files_qs %}
    <div class="table">
        <div class="cell">ID</div>
        <div class="cell">Файл</div>
        <div class="cell">Дата загрузки</div>
        <div class="cell">Дата завершения</div>
        <div class="cell">Статус</div>
        <div class="cell">Результат</div>
        {% for file in files_qs %}
            <div class="cell">{{ file.pk }}</div>
            <div class="cell"><a href="{{ file.file_ob.url }}">{{ file.file_obj.name }}<br>({{ file.get_size }})</a></div>
            <div class="cell">{{ file.created_at|date:"d.m.Y H:i:s" }}</div>
            <div class="cell">{{ file.finished_at|date:"d.m.Y H:i:s" }}</div>
            <div class="cell">{{ file.get_status_display }}</div>
            <div class="cell">{{ file.result }}</div>
        {% endfor %}
    </div>
{% else %}
    <p>История пуста</p>
{% endif %}