body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
main{
    flex: 1 0 auto;
}
header{
    border-bottom: 1px solid #333333;
    height: 100px;
}
footer{
    height: 100px;
    border-top: 1px solid #333333;
}
.container{
    padding: 0 15px;
    max-width: 1540px;
    margin: 0 auto;
}
.index-wrapper{
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-column-gap: 30px;
    padding: 30px 0;
}
.block{
    border: 1px solid #333333;
    padding: 30px;
    &-title{
        font-weight: 700;
        font-size: 26px;
        line-height: 28px;
        color: #333;
        margin: 0 0 20px;
        padding: 0 0 20px;
        border-bottom: 1px solid #333333;
    }
}
.table{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

#errors-container{
    margin: 15px 0 0;
    color: red;
    &:empty{
        display: none;
    }
}

#ok-container{
    margin: 15px 0 0;
    color: green;
    &:empty{
        display: none;
    }
}